<div class="light-background game-background">
    <div class="sideBar">
        <div class="pannel btm-spacer">
            <div class="bk-secondary pannel-accentbar"></div>
            <div class="cl-dark pannel-body ">
                <span ng-bind="getTurnStatus()" style="font-size: 35px; padding-top: 15px; padding-bottom: 15px;">Starting Son</span>
            </div>
        </div>
        <div class="pannel btm-spacer cl-dark">
            <div class="bk-secondary pannel-accentbar"></div>
            <div class="cl-dark pannel-body horizontal" style="padding: 8px;">
                {{getTurnStatus()}}
            </div>
        </div>
        <div class="pannel btm-spacer">
            <div class="bk-secondary pannel-accentbar"></div>
            <div class="cl-dark pannel-body ">
            hi
            </div>  
        </div>

    </div>
    <div class="gameView">
        <div ng-hide="GameStarted" class="pannel" style="width: 540px; height: 230px;">
            <div class="bk-secondary pannel-accentbar"></div>
            <div class="cl-dark pannel-body ">
                <h2 style="margin-bottom: 30px;margin-top: 0;">Invite Your Friends with This Code:</h2>
                <div style="display: flex;">
                    <div class="keyView">{{gameKey}}</div>
                    <div class="keyCopy tooltip" ng-click="copyGameKeyToClipboard()" ng-mouseleave="removeToolTip()"><span ng-show="copied" class="tooltiptext" id="myTooltip">Copied to clipboard</span>Copy</div>
                </div>
                <div class="start-btn" ng-click="startGame()">Start</div>
            </div>  
        </div>
        <table ng-show="GameStarted" class="table-board">
            <tr ng-repeat="row in board" class="game-table-row">
                <td ng-repeat="tile in row"> 
                    <div ng-mouseenter="tile.hover = true" ng-mouseleave="tile.hover = false">
                        <svg ng-show="tile.placed" width="100" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><title>Filled</title><g id="Symbol_6_1" data-name="Symbol 6 1"><circle id="Ellipse_21" data-name="Ellipse 21" cx="40" cy="40" r="40" ng-style="getPlayerColour(tile.player)"/></g></svg>
                        <svg ng-show="!tile.placed && !tile.hover" width="100" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><title>Filled</title><g id="Symbol_6_1" data-name="Symbol 6 1"><circle id="Ellipse_21" data-name="Ellipse 21" cx="40" cy="40" r="40" style="fill:#E0E0CE"/></g></svg>
                        <svg ng-show="!tile.placed && tile.hover && placeable(board,row,tile)" ng-click="playTurn(row,tile)" width="100" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><title>Outline</title><g id="Symbol_7_1" data-name="Symbol 7 1"><g id="Ellipse_22" data-name="Ellipse 22"><circle cx="40" cy="40" r="40" style="fill:none"/><circle cx="40" cy="40" r="37.5" style="fill:none;stroke:#fff;stroke-width:5px"/></g></g></svg>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>